
.ripple-grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* Ensure it doesn't block interactions if placed behind content */
  z-index: 0;
  overflow: hidden;
}

.ripple-grid-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
